@import url('https://fonts.googleapis.com/css?family=Oxygen');
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input[name="content"] {
  width: 300px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.colour-preview {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.full-preview {
  margin-top: 20px;
  background-color: black;
  height: 300px;
}

.full-preview p {
  font-size: 43px;
  color: white;
  font-family: 'Oxygen';
  padding-top: 75px;
}

.action-button {
  width: 75px;
  margin: 2px;
}
