html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.colour-preview {
  width: 20px;
  height: 20px;
}

.btn {
  cursor: pointer;
}

.icon-text {
  margin-left: 2.5px;
}

.list-group-item .icon-text {
  margin-left: 7.5px;
}

.alert.margin {
  margin-top: 25px;
}
