@import url('https://fonts.googleapis.com/css?family=Material+Icons|Raleway|Oxygen');
body {
  background-color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  text-align: center;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

.modal {
  color: black;
}

.settings-link {
  cursor: pointer;
}

.settings-link:hover {
  text-decoration: underline;
}

.input-field label {
  color: black !important;
}

.input-field input:focus+label {
  color: black !important;
}

.input-field input:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important;
}

.footer-copyright {
  color: white !important;
}

.underline {
  text-decoration: underline;
}

.spinner-layer {
  border-color: white;
}

.error-button {
  margin-top: 30px;
}

#logo {
  font-family: 'Raleway', Helvetica, Arial;
}

#quote {
  font-family: 'Oxygen', Helvetica, Arial;
  font-size: 43px;
  margin-top: 200px; // Just in case the JS fails
}

#personal-link {
  color: white;
}

#personal-link:hover {
  text-decoration: underline;
}

#advanced-settings {
  display: none;
}

@media only screen and (max-width: 599px) {
  #quote {
    font-size: 30px !important;
    margin-top: 25%;
  }
  #logo {
    font-size: 36px;
  }
}
