@import url('https://fonts.googleapis.com/css?family=Material+Icons|Raleway|Oxygen');
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

body, .footer-link {
  color: white;
}

main {
  flex: 1 0 auto;
}

label:not(.active) b, #advanced-settings, .fade-in-on-load {
  display: none;
}

.dropdown-content li span, .modal, .reset-input, label, #current-user a {
  color: black;
}

.settings-link, .reset-input, .delete-saved-setting, #go-to-signup, #go-to-login, #clear-profile-error {
  cursor: pointer;
}

.underline, .settings-link:hover, .footer-link:hover, #current-user a:hover {
  text-decoration: underline;
}

.input-field label, .input-field input:focus+label {
  color: black !important;
}

.footer-copyright, .tab a, .dropdown-content.select-dropdown li span {
  color: white !important;
}

.spinner-layer {
  border-color: white;
}

.error-button {
  margin-top: 30px;
}

.darken, .darken:hover {
  opacity: 0.4 !important;
}

.settings-input.invalid:focus, .chips.invalid {
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
  -webkit-box-shadow: 0 1px 0 0 #F44336 !important;
}

.darken, .darken:hover {
  background-color: black !important;
}

.reset-input:not(.reset-all) {
  top: 17px;
  z-index: 0;
}

.inactive-icon {
  display: none !important;
}

.tabs .indicator {
  background-color: white;
}

.modal-content {
  padding: 24px 0 !important;
}

.tooltipped {
  cursor: help;
}

.set-all-default {
  margin-right: 2%;
}

.thumb {
  z-index: 9999;
}

.autocomplete-content, .reset-input {
  position: relative;
}

.log-error {
  color: red;
}

.log-warn {
  color: orange;
}

.delete-saved-setting {
  margin-left: 10px;
  color: red;
  font-weight: bold;
}

.js-margin {
  margin-top: 200px;
}

#go-to-signup, #go-to-login {
  display: block;
}

#go-to-signup {
  margin-top: 10px;
}

#go-to-login {
  margin-top: -15px;
}

#logo {
  font-family: 'Raleway', Helvetica, Arial;
}

#quote {
  font-family: 'Oxygen', Helvetica, Arial;
  font-size: 43px;
}

@media only screen and (max-width: 599px) {
  #quote {
    font-size: 30px !important;
    margin-top: 25%;
  }
  #logo {
    font-size: 36px;
  }
}
